@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body {
 background: 	#AFEEEE;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.open-button {
  background-color: #003333;
  color: white;
  padding: 10px 20px;
   float: center;
  border: 3px solid black;

  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 23px;
  left: 60px;
  width: 150px;
}
.form-popup {
  display: none;
  position: fixed;
  top: 80px;
  left: 200px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


/* Full-width input fields */
.form-container {
	width:700px;
  background-color: #f1f1f1;
  background: #f1f1f1;
}


/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 45%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: white;
}
.form-container .reset {
  background-color: black;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	
	width: 160%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.check1{
	position:absolute;
	width:100%;
}
th, td {
  padding: 0.5rem;
  background-color: #f2f2f2;
}
tr.red th {
  background: red;
  color: white;
}
th {
  background: white;
  position: sticky;
  top: 0px; 
  box-shadow: 0 0px 2px -1px rgba(0, 0, 0, 0.4);
}